@import '../css/base.css';

@import './tokens.css';

html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-accent);
  }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: block;
        max-width: 1280px;
        margin: 0 auto;
    }
}

