@import '../css/base.css';

@import './tokens.css';



#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


a,
.green {
  text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-accent);
    opacity: 1;
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: block;
        max-width: 1280px;
        margin: 0 auto;
    }
}

