:root {

    --color-bg: #131413;
    --color-text: #f9f9f9;
    --color-subtitle: #7f7f7f;
    --color-accent: #897eff;

    --font-display: "Righteous", sans-serif;
    --font-body: "Mulish", sans-serif;
}


