#map {
    height: 500px;
    width: 100%;
    margin: 20px auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}
/* Conteneur principal de la grille */
main {
    gap: 20px;
    padding: 20px;
}
section {
    position: relative;
    text-align: center;
    background-color: ghostwhite;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

pre {
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}

code {
    font-family: "Courier New", Courier, monospace;
    color: #d6336c;
}

/* Style de base du bouton id confetti */
#confetti {
    padding: 10px 20px;
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px; /* Bordure arrondie */
    cursor: pointer;
    transition: all 0.3s ease; /* Transition douce pour les effets */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre  */
}

/* Effet au survol */
#confetti:hover {
    background-color: #45a049; /* Couleur de fond changée au survol */
    transform: scale(1.1); /* Agrandissement du bouton pour l'effet */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6); /* Ombre autour du texte pour le rendre plus visible */
}

/* Effet de focus du bouton */
#confetti:focus {
    outline: none; /* Retirer le contour de focus standard */
    box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.6); /* ombre verte */
}


/* Style du bouton */
#showTextButton {
    padding: 10px 20px;
    background-color: #ff6f61;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#showTextButton:hover {
    background-color: #ff3b30;
    transform: scale(1.1);
}

#showTextButton:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 0, 0, 0.6); /* Ajouter un halo rouge lors du focus */
}

/* Style de base pour le texte hidden */
h3[hidden] {
    display: none;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}

header {
    position: sticky;
    width: 100%;
    top: 0; /* L'élément restera collé en haut de la fenêtre quand on scrolle */
    background-color: white; /* pour qu'il reste visible s'il passe au-dessus d'autres éléments */
    z-index: 9999; /* pour qu'il reste au-dessus d'autres éléments */
    padding: 10px;
    border-bottom: 2px solid #ddd;
    color: #F0DB4F; /* Couleurs du logo JS */
    -webkit-text-stroke: 1px black; /* Contours pour lisibilité */
    border-radius: 30px; /* Bordure arrondie */
}

footer {
    text-align: center;
    font-family: 'Roboto Thin', Rockwell, monospace;
    color: #585858;
}

#stick {
    position: sticky;
    top: 110px; /* L'élément restera collé en haut de la fenêtre quand on scrolle */
    background-color: ghostwhite; /* pour qu'il reste visible s'il passe au-dessus d'autres éléments */
    z-index: 10; /* pour qu'il reste au-dessus d'autres éléments */
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

#vide {
    margin-bottom: 250px;
    margin-top: 250px;
}

